@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");

body {
  background-color: #f6f6f6;
  color: black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.header-image img {
  max-height: 14rem;
  width: auto;
  z-index: -1;
}
.header-image h1 {
  z-index: 10;
  width: fit-content;
}

.h1-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zero-padding {
  padding: 0 !important;
}
/* navbar */
nav.nav-center ul {
  text-align: center;
  font-size: 1.5rem;
}
nav.nav-center ul li {
  display: inline;
  float: none;
  width: 100px;
  margin: 0 2rem;
}
nav.nav-center ul li a {
  display: inline-block;
}

.icons {
  width: fit-content !important;
  margin-left: 20px;
}

/* timeline */

:root {
  --font-content: Cardo;
  --font-heading: "Pathway Gothic One", sans-serif;
  --timeline-width: 700px;
  --timeline-container-width: 100%;
}

.timeline-main {
  display: flex;
  margin: 0 auto;
  color: white;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: var(--timeline-width);
  position: relative;
}

.timeline-main::before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}

.timeline-year {
  font-weight: normal;
  font-size: 40pt;
  margin: -2rem 0 0 0;
  transition: 0.4s;
  padding: 0 0.5rem;
  box-sizing: border-box;
  font-family: var(--font-heading);
  color: white;
}
.timeline-text {
  margin: 2rem 0;
  background-color: rgba(99, 99, 99, 0.4);
  padding: 1rem;
  font-size: 14pt;
  box-sizing: border-box;
  color: rgba(#fff, 0.7);
  font-family: var(--font-content);
  font-weight: normal;
  line-height: 1.5rem;
}

.timeline-item {
  padding: 2rem 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 2rem);
  display: flex;
  position: relative;
  transform: translateY(-4rem);
}

.timeline-item::before {
  content: attr(data-text);
  letter-spacing: 0.3rem;
  width: 100%;
  position: absolute;
  color: rgba(#fff, 0.5);
  font-size: 14pt;
  font-family: var(--font-heading);
  border-left: 2px solid rgba(#fff, 0.5);
  top: 70%;
  margin-top: -0.5rem;
  padding-left: 1rem;
  opacity: 0;
  right: calc(-100% - 3rem);
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even)::before {
  right: auto;
  text-align: right;
  left: calc(-100% - 3rem);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(#fff, 0.5);
  padding-right: 1rem;
}
.active {
  opacity: 1;
  /* transform: translateY(0); */
  filter: blur(0);
}
.active::before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item .active .timeline-year {
  margin: -3rem 0 1rem 0;
}
.timeline-img {
  max-width: 100%;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: var(--timeline-container-width);
  position: relative;
  padding: 4rem 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../images/history/back.jpg);
}
.timeline-container::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}

.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
}
.timeline-h3 {
  color: #fff;
  font-size: 2rem;
  font-family: var(--font-content);
  font-weight: normal;
  margin: 0;
}
.timeline-h4 {
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-heading);
  font-size: 16pt;
  letter-spacing: 0.3rem;
  margin: 0.5rem 0 0 0;
  font-weight: normal;
}

@media only screen and (max-width: 767px) {
  .timeline-main::before {
    left: 2rem;
  }
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 1.5rem 8rem 4rem;
  }
  .timeline-item::before {
    left: 0.5rem !important;
    padding: 0 !important;
    top: 2.1rem;
    text-align: center !important;
    width: 3rem;
    border: none !important;
  }
  .timeline-item::last-child {
    padding-bottom: 2rem;
  }
}

/* end of timeline css */

/* start of gallery grid css */
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
.grid-container {
  columns: 3 12rem;
  column-gap: 1rem;
  width: 90%;
  margin: 0 auto;
}
.grid-item-container {
  width: 12rem;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  border: solid 3px black;
  padding: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  transition: all 0.25s ease-in-out;
}

.grid-item-container:hover {
  border-color: darkgreen;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(2, 98, 2, 0.5);
}
.grid-item-container > img {
  width: 100%;
  border-radius: 0.3rem;
  transition: all 0.25s ease-in-out;
}
.grid-item-container > p {
  margin: 0.3rem 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}
.grid-item-container:hover p {
  color: rgb(2, 98, 2);
}

/* locations page css */

.map > img {
  width: 100%;
  height: auto;
}

.map {
  position: relative;
}

.map i {
  color: rgb(92, 156, 92);
  position: absolute;
  font-size: 2.5rem;
}

.new-york {
  top: 28%;
  right: 13%;
}

.boston {
  top: 24%;
  right: 10%;
}
.chicago {
  top: 35%;
  right: 34%;
}

.detroit {
  top: 33%;
  right: 28%;
}

.san-francisco {
  top: 40%;
  left: 8%;
}

.los-angeles {
  top: 55%;
  left: 14%;
}

.dallas {
  top: 65%;
  left: 50%;
}
.atlanta {
  top: 60%;
  right: 23%;
}

.seattle {
  top: 13%;
  left: 14%;
}
.map i:hover {
  color: red;
  cursor: pointer;
}
/* locationcard css */

.map-wrapper {
  position: relative;
}
.hidden {
  display: none;
}

.city {
  position: absolute;
  top: 40%;
  left: 30% !important;
}
.card-title {
  background-color: rgba(141, 110, 99, 0.7);
  width: 100%;
  text-shadow: 2px 0.5px lightslategray;
}

/* menu css */
.menu-item img,
.item-image img {
  max-width: 100%;
  max-height: 280px;
  mix-blend-mode: multiply;
}

.menu-item {
  position: relative;
}

.menu-item i {
  position: absolute;
  top: 4%;
  right: 27%;
  font-size: 2.2rem;
  text-shadow: 1px 1px lightslategray;
}

.cold {
  color: rgb(60, 129, 194);
}

.hot {
  color: rgb(255, 142, 89);
}

.nutrition-heading {
  font-weight: bold;
}

.item-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10% !important;
  position: relative;
}
.item-image i {
  position: absolute;
  top: 26%;
  right: 34%;
  font-size: 2.5rem;
  text-shadow: 1px 1px lightslategray;
}
.item-container {
  border: solid 3px black;
  padding: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
}

.category {
  display: flex;
  font-size: 1.3rem;
  flex-direction: row;
  justify-content: space-between;
}

.price-menu {
  font-size: 1.8rem;
  margin-top: -0.5rem;
  text-shadow: 1px 1px lightslategray;
}
/* end of menu */
/* account page styling */

.account-info {
  margin-top: 2rem;
}

.account-heading {
  font-size: 14pt;
  /* color: green; */
  letter-spacing: 00.1rem;
}
.buttons-cart {
  display: flex;
  justify-content: space-between;
}
